<?xml version="1.0"?>
<model>
  <name>Fully Actuated Hexa Hexadrotor</name>
  <version>1.0</version>
  <sdf version='1.6'>hexa_fully_actuated.sdf</sdf>

  <author>
   <name>Azarakhsh Keipour</name>
   <email>keipour@cmu.edu</email>
  </author>
  <author>
   <name>Xiangfu Li</name>
   <email>xml5328@psu.edu</email>
  </author>

  <description>
    This is a model of omnidirectional hexarotor with tilted rotors.
  </description>
</model>

